<div class="container center-content">
  <div class="row">
    <div class="col-4">
      <h2 class="text-info text-center mt-5">
        Total leave {{ totalLeaves }}
      </h2>
    </div>
    <div class="col-4">
      <h2 class="text-info text-center mt-5">Approve: {{approvedLeaves }}</h2>
    </div>
    <div class="col-4">
      <h2 class="text-info text-center mt-5">Reject: {{ rejectedLeaves}}</h2>
    </div>
      <button 
        mat-raised-button
        color="primary mb-2"
        routerLink="/dashBoard/leavePopUp"
      >
        Apply leave
      </button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div
      class="text-center mt-3 col-4 example-card"
      *ngFor="let std of allData; index as i"
    >
      <form>
        <mat-card class>
          <mat-card-content>
            <h2 class="text-info">
              Leave from: {{ std?.startdate | date }}
            </h2>
            <h2 class="text-info">To: {{ std?.enddate | date }}</h2>
            <!-- <h2 class="text-info">No of Days: {{ 3  }}</h2> -->
            <h2 class="text-info">Reason: {{ std?.reason |titlecase }}</h2>
            <h2 class="text-info">Status: {{ std.status |titlecase }}</h2>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
