
<ng-container>
  <h1 class="text-danger text-center mt-5" *ngIf="deptName.length === 0">No request available</h1>
</ng-container>
<div>
  <h1 class="m-5">Staff Leave Details:
<div class="container">
  <div class="row">
    <div
      class="text-center mt-5 col-sm-4 example-card"
      *ngFor="let std of deptName; index as i"
    >
      <form>
        <mat-card class class="mat-card">
          <mat-card-content class="details">
            <h2 class="text-dark text-start" ><span class="text-color">Name : </span>{{ std?.fullName |titlecase }}</h2>
            <h2 class="text-dark">
              <span class="text-color">Leave From : </span> {{ std?.startdate | date }}
            </h2>
            <h2 class="text-dark"> - {{ std?.enddate | date }}</h2>
            <!-- <h2 class="text-info"><span class="text-color">No of Days:</span> {{ 3  }}</h2> -->
            <h2 class="text-dark"><span class="text-color">Reason : </span>{{ std?.reason |titlecase }}</h2>
            <div>
            <button type="button" *ngIf="std.status !== 'approved' && std.status !== 'rejected'" 
              mat-raised-button
              color="primary"
              class="mx-4 px-2 mb-1"
              (click)="approveRequest(std.id)"
            >
              Approve
            </button>
            <button *ngIf="std.status !== 'approved' && std.status !== 'rejected'" 
              mat-raised-button
              color="warn"
              class="mx-4 px-2 mb-1"
              (click)="rejectRequest(std.id)"
            >
              Reject
            </button>
          </div>
            <i *ngIf="std.status === 'approved'" class="fa fa-check text-success" > <h1>Approved</h1> </i>
            <i *ngIf="std.status === 'rejected'" class="fa fa-times text-danger"><h1>Rejected</h1> </i>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
